html,
body {
  width: 100%;
}

body,
figure,
ul {
  margin: 0;
}

figure {
  display: block;
}

.img {
  width: 100%;
  background-image: url("../img/grandcanyon_lg_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

figure.img {
  height: 600px;
}

.divider {
  height: 500px;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: white;
}

/* ===================== Gallery styles =========================*/
#hero {
  height:600px;
}
#galleryOuter {
  width: 100%;
}

#galleryWrap {
  height: 100%;
}

#galleryOuter {
  height: 100%;
  background-color: #222;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
}

#galleryWrap {
  width: 3840px;
}

#left {
  float: left;
}

#right {
  float: right;
}

#galleryWrap > figure {
  height: 100%;
}

#galleryWrap > figure.backgd {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0;
  float: left;
}

#galleryOuter > nav {
  position: absolute;
  top: 10%;
  display: block;
  max-width: 1440px;
  width: 100%;
  height: 70%;
}

#galleryOuter > nav > ul {
  height: 100%;
}

#galleryOuter > nav > ul > li {
  height: 100px;
  width: 50px;
  position: relative;
  top: 35%;
  margin: 0 1%;
}

#galleryOuter > nav > ul > li > a {
  display: block;
  height: inherit;
  background: #fafafa;
  border-radius: 5px;
  opacity: .5;
  -webkit-transition: .2s opacity ease-in-out;
  -moz-transition: .2s opacity ease-in-out;
  transition: .2s opacity ease-in-out;
}

#galleryOuter > nav > ul > li > a:hover {
  opacity: .8;
}

#galleryOuter span {
  content: '';
  display: block;
}


#galleryOuter > #galleryWrap > figure.backgd {
  width: 100%;
}

#galleryOuter .chevron::before {
	border-style: solid;
  border-color: #444;
	border-width: 0.45em 0.45em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
  top: 40px;
}

#galleryOuter .chevron.left:before {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 18px;
}

#galleryOuter .chevron.right:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 8px;
}

/* ------- Dotnav ------ */
#dotnav > ul > li:before {
  display: block;
  height: 8px;
  width: 8px;
  border-radius: 50%;
  background-color: #000;
  float: left;
  margin-left: 10px;
}

/* ================= Backgrounds =================== */

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_lg_2x.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_lg_2x.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_lg_2x.jpg');
  }
}

@media only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_lg.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_lg.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_lg.jpg');
  }
}

@media only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_md_2x.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_md_2x.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_md_2x.jpg');
  }
}

@media only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_md.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_md.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_md.jpg');
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_sm.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_sm.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_sm.jpg');
    background-position: right;
  }
}

@media only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_sm_2x.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_sm_2x.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_sm_2x.jpg');
    background-position: right bottom;
  }
}




/* ---------- Section dividers -----------*/
.jtree {
  background: url('../img/joshuatree.svg');
  background-size: cover;
  background-position: center;
}
