html,
body {
  width: 100%;
}

body,
figure,
ul,
h1,
h2,
p {
  margin: 0;
}

body {
  font-family: 'Cabin', sans-serif;
  font-size: 22px;
  max-width: 1440px;
  margin: 0 auto;
  background-color: #111;
}

figure {
  display: block;
}

.img {
  width: 100%;
  background-image: url("../img/grandcanyon_lg_2x.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

figure.img,
#hero {
  height: 600px;
}

.divider {
  height: 500px;
  overflow: hidden;
}

ul {
  padding: 0;
  list-style-type: none;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

article {
  box-sizing: border-box;
  width: 46%;
  float: left;
  padding: .5em;
}

h1,
h2,
p {
  padding: 1em;
}

article p {
  padding: 0 1em 1em 1em;
}

/* ===================== Header Styles ========================== */
header {
  height: 50px;
  background-color: #333;
  position: relative;
  z-index: 2;
}

a.gohome {
  display: block;
  padding: 15px;
  font-size: .7em;
  color: #F5D153;
  margin: 0 auto;
  text-align: center;
}

/* ===================== Gallery styles ========================= */
#galleryOuter {
  width: 100%;
}

#galleryWrap {
  height: 100%;
}

#galleryOuter {
  height: 100%;
  background-color: #222;
  overflow: hidden;
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

#galleryWrap {
  width: 10000px;
}

#left {
  float: left;
}

#right {
  float: right;
}

#galleryWrap > figure {
  height: 100%;
}

#galleryWrap > figure.backgd {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 1440px;
  margin: 0;
  float: left;
  -webkit-transition: .4s ease-in-out;
  -moz-transition: .4s ease-in-out;
  transition: .4s ease-in-out;
}

/* =============== Gallery Paddle & Dotnav =============== */
#galleryOuter > nav {
  position: absolute;
  top: 13%;
  display: block;
  max-width: 1440px;
  width: 100%;
  /*height: 70%;*/
}

div#galleryOuter nav.hover-navs {
  opacity: 0;
}

div#galleryOuter:hover nav.hover-navs {
  animation: navs .3s;
  animation-timing-function: ease-in;
  animation-direction: forwards;
  opacity: .8;
}

@keyframes navs {
  0% {
    opacity: 0;
  }
  100% {
    opacity: .8;
  }
}

#galleryOuter > nav > ul > li {
  height: 100px;
  width: 65px;
  position: relative;
  top: 200px;
  margin: 0;
}

#galleryOuter > nav > ul > li > a {
  display: block;
  height: inherit;
  background: #fafafa;
  opacity: .5;
  transition: .3s background ease-out;
}

#galleryOuter > nav > ul > li > a:hover {
  opacity: .8;
}

#galleryOuter span {
  content: '';
  display: block;
}


#galleryOuter > #galleryWrap > figure.backgd {
  width: 100%;
}

#galleryOuter .chevron::before {
	border-style: solid;
  border-color: #444;
	border-width: 0.25em 0.25em 0 0;
	content: '';
	display: inline-block;
	height: 1em;
	left: 0.15em;
	position: relative;
	top: 0.15em;
	transform: rotate(-45deg);
	vertical-align: top;
	width: 1em;
  top: 40px;
}

#galleryOuter .chevron.left:before {
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  transform: rotate(-135deg);
  left: 30px;
}

#galleryOuter .chevron.right:before {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transform: rotate(45deg);
  left: 6px;
}

/* ------- Dotnav ------ */
#dotnav {
  position: relative;
  top: -55px;
}

/* small viewport requires 25% width */
.dotnavwrap {
  width: 100%;
}

.dotnavwrap > ul {
  width: 100px;
  display: block;
  margin: 0 auto;
}

.dotnavwrap li {
  float: left;
  padding: 2px 8px;
}

.dotnavwrap li a {
	overflow: hidden;
	transition: background 0.3s;
}

.dotnavwrap li a,
.dotnavwrap li a::after {
  border-radius: 50%;
  height: 10px;
  width: 10px;
  display: inline-block;
  background-color: rgba(255, 0, 0, 0);
  border: 2px solid #F5D153;
}

.dotnavwrap li a::after {
  position: relative;
  left: 50%;
}

.dotnavwrap li a:hover,
.dotnavwrap li a.active {
  background-color: #F5D153;
}

.dotna li.current a::after {
	height: 100%;
}

/* ----------------- Gallery Content --------------- */

#one h1 {
  text-align: center;
  margin-top: 2em;
}

#two h2,
#two span,
#three h2,
#three span {
  display: inline-block;
  position: relative;
}

#two h2 {
  left: 17%;
  margin-top: 1em;
}

#two span {
  left: 17%;
}

#three span,
#three h2 {
  top: 10%;
}

#three span {
  left: 32%;
}

#three h2 {
  left: 30%;
}

.article-divider {
  min-height: 500px;
}

.article-divider,
section#gc-break {
  background-color: #fafafa;
}

/* ---------- Section dividers -----------*/
.jtree {
  background-size: cover;
  background-position: center;
}

.jtree h2 {
  color: #D19043;
}

#jtree .img {
  background-image: url("../img/jtree.jpg");
}

.sedona {
  width: 100%;
  background-size: cover;
  background-position: bottom;
}

.sedona h2 {
  color: #FFC3BB;
}

#sedona .img {
  background-image: url("../img/sedona.jpg");
}

.gc {
  background-color: black;
}

/* ======== Hosted Video ========= */

#movieWrap {
  float: right;
}


iframe {
  position: relative;
  top: 4em;
  max-width: 100%;
  margin-right: 1.5em;
}

/* ================= jQuery UI Hack ================= */
div.ui-loader {
  display: none;
}

/* ================= Backgrounds =================== */

@media
only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 2),
only screen and (max-width: 768px) and (min-device-pixel-ratio: 2)
only screen and (max-width: 768px) and (min-resolution: 192dpi),
only screen and (max-width: 768px) and (min-resolution: 2dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_sm_2x.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_sm_2x.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_sm_2x.jpg');
    background-position: right bottom;
  }

  .img {
    background-image: url("../img/grandcanyon_sm_2x.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_sm_2x.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_sm_2x.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_sm_2x.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_sm_2x.jpg");
  }

}

@media
only screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (max-width: 768px) and (min--moz-device-pixel-ratio: 1),
only screen and (max-width: 768px) and (min-device-pixel-ratio: 1),
only screen and (max-width: 768px) and (min-resolution: 96dpi),
only screen and (max-width: 768px) and (min-resolution: 1dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_sm.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_sm.jpg');
    background-position: center bottom;
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_sm.jpg');
    background-position: right;
  }

  .img {
    background-image: url("../img/grandcanyon_sm.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_sm.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_sm.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_sm.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_sm.jpg");
  }
}

@media
only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min--moz-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min-device-pixel-ratio: 2),
only screen and (min-width: 769px) and (min-resolution: 192dpi),
only screen and (min-width: 769px) and (min-resolution: 2dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_md_2x.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_md_2x.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_md_2x.jpg');
  }

  .img {
    background-image: url("../img/grandcanyon_md_2x.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_md_2x.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_md_2x.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_md_2x.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_md_2x.jpg");
  }
}


@media
only screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 769px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 769px) and (min-device-pixel-ratio: 1),
only screen and (min-width: 769px) and (min-resolution: 96dpi),
only screen and (min-width: 769px) and (min-resolution: 1dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_md.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_md.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_md.jpg');
  }

  .img {
    background-image: url("../img/grandcanyon_md.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_md.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_md.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_md.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_md.jpg");
  }
}

@media
only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 1),
only screen and (min-width: 1025px) and (min--moz-device-pixel-ratio: 1),
only screen and (min-width: 1025px) and (min-device-pixel-ratio: 1),
only screen and (min-width: 1025px) and (min-resolution: 96dpi),
only screen and (min-width: 1025px) and (min-resolution: 1dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_lg.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_lg.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_lg.jpg');
  }

  .img {
    background-image: url("../img/grandcanyon_lg.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_lg.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_lg.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_lg.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_lg.jpg");
  }
}

@media
only screen and (min-width: 1025px) and (-webkit-min-device-pixel-ratio: 2),
only screen and (min-width: 1025px) and (min--moz-device-pixel-ratio: 2),
only screen and (min-width: 1025px) and (min-device-pixel-ratio: 2),
only screen and (min-width: 1025px) and (min-resolution: 192dpi),
only screen and (min-width: 1025px) and (min-resolution: 2dppx) {
  #galleryWrap > figure#one {
    background-image: url('../img/gallery1_lg_2x.jpg');
  }

  #galleryWrap > figure#two {
    background-image: url('../img/gallery2_lg_2x.jpg');
  }

  #galleryWrap > figure#three {
    background-image: url('../img/gallery3_lg_2x.jpg');
  }

  .img {
    background-image: url("../img/grandcanyon_lg_2x.jpg");
  }

  .jtree {
    background-image: url('../img/joshuatree_lg_2x.png');
  }

  #jtree .img {
    background-image: url("../img/jtree_lg_2x.jpg");
  }

  .sedona {
    background-image: url('../img/sedonadiv_lg_2x.png');
  }

  #sedona .img {
    background-image: url("../img/sedona_lg_2x.jpg");
  }
}
@media only screen and (max-width: 1100px) {
  .article-divider > article {
    width: 100%;
  }
  #movieWrap {
    float: none;
    display: block;
  }
  #movieWrap iframe {
    top: 0;
    display: block;
    margin: 0 auto 1em;
  }
}

@media only screen and (max-width: 1024px) {
  figure.img,
  #hero {
    height: 500px;
  }

  #galleryOuter > nav > ul > li {
    top: 150px;
  }
}

@media only screen and (max-width: 768px) {
  #galleryOuter > nav {
    display: none;
  }

  figure.img,
  #hero {
    height: 400px;
  }

  #jtree .img {
    background-position: right;
  }

  article {
    width: 100%;
  }
}

@media only screen and (max-width: 500px) {
  #movieWrap iframe {
    margin-bottom: 0;
  }
  .article-divider > article > h2 {
    padding-left: .7em;
  }

  .article-divider p {
    font-size: .8em;
  }
}
